<div>
  <img src="/assets/img/users.png" alt="User Icon" id="icon">
</div>


<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName"
  name="fullName" placeholder="Full Name" required
  [ngClass]="{'invalid-textbox': signUpForm.submitted && !fullName.valid}"/>
    <div *ngIf="signUpForm.submitted && !fullName.valid">
      <label class="validation-message">Name is required!!!</label>
    </div>

  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email"
  name="email" placeholder="Email" required [pattern]="emailRegex"
  [ngClass]="{'invalid-textbox': signUpForm.submitted && !email.valid}"/>
    <div *ngIf="signUpForm.submitted && email.errors">
      <label class="validation-message" *ngIf="email.errors.required">Email is required!!!</label>
      <label class="validation-message" *ngIf="email.errors.pattern">Invalid Email !!!</label>
    </div>


  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password"
  name="password" placeholder="password" required minlength="4"
  [ngClass]="{'invalid-textbox': signUpForm.submitted && !password.valid}"/>
    <div *ngIf="signUpForm.submitted && password.errors">
      <label class="validation-message" *ngIf="password.errors.required">Password is required!!!</label>
      <label class="validation-message" *ngIf="password.errors.minlength">Length of Password must be atleast 4 !!!</label>
    </div>

    <input type="submit" value="Sign Up">

</form>

<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">
  Saved Successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>


